:root {
  --background-color: #ffffff;
  --accent-color: #ffe8df;
  --light-text-color: #f0f0f0;
  --text-color: #888888;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a.banner-icons-links {
  color: var(--light-text-color);
  margin-left: 12px;
}

.navbar-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 16px;
  padding: 2px;
}

.navbar-text {
  margin-left: 16px;
}

.main-banner {
  position: relative;
  height: 100vh;
  padding-bottom: 16px;
}

.banner-title {
  font-size: 210px;
  font-family: 'Sacramento', cursive;
  color: var(--light-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* https://stackoverflow.com/questions/46184458/transform-translate-50-50 */
}

.banner-icons {
  font-size: 30px;
  text-align: center;
  color: var(--light-text-color);
}

.banner-title-text {
  margin-bottom: 50px;
}

.diary-top-title {
  padding-right: 16px;
  font-size: 36px;
}

.diary-top-title a i {
  font-size: 30px;
}

.diary-top {
  display: flex;
  align-items: center;
}

.main-diary {
  padding: 8px 16px;
}

.diary-top-write {
  color: var(--text-color);
  cursor: pointer;
  font-size: 36px;
  height: fit-content;
  justify-content: center;
  border: none;
  background-color: var(--background-color);
}

.diary-top-write:hover {
  text-decoration: underline;
}

.diary-main,
.diary-result-top {
  display: flex;
}

.diary-main-title,
.diary-main-timestamp {
  font-size: 24px;
}
.diary-result-title,
.diary-result-timestamp {
  font-size: 18px;
  font-weight: bold;
}
.diary-main-title,
.diary-result-title {
  flex: 6;
  padding-bottom: 8px;
}

.diary-main-timestamp,
.diary-result-timestamp {
  flex: 1;
  padding-bottom: 8px;
}

.diary-result-timestamp {
  padding-left: 250px;
}

.diary-result-contents {
  padding-bottom: 8px;
}

#diary-form-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  border: 3px solid var(--accent-color);
  background-color: var(--background-color);
  padding: 10px;
}

.diary-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  max-width: 800px;
}

.diary-delete-button,
.diary-form-cancel-button,
#diary-delete-confirm {
  background-color: var(--accent-color);
}

.diary-form-write-button,
#diary-delete-cancel {
  background-color: var(--light-text-color);
}

.diary-form-text {
  font-weight: bold;
  padding-bottom: 8px;
}
