:root {
  --background-color: #ffffff;
  --accent-color: #ffe8df;
  --light-text-color: #f0f0f0;
  --text-color: #888888;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

button {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 4px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a.banner-icons-links {
  color: var(--light-text-color);
  margin-left: 12px;
}

.navbar {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 16px;
  padding: 2px;
}

.navbar-text {
  margin-left: 16px;
}

.main-banner {
  position: relative;
  height: 100vh;
  padding-bottom: 16px;
}

#menu-bar {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: var(--background-color);
  text-align: center;
  padding: 10px;
}

#meun-bar-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#meun-bar-list li a {
  font-size: 20px;
  color: var(--text-color);
}

.fa-xmark {
  color: var(--accent-color);
  margin-bottom: 12px;
}

.mouse-point :hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

/* #slideShow {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 50px auto;
  overflow: hidden; 
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; 
  transition: left 0.5s ease-out; 
}

.slides li:first-child {
  margin-left: 100px;
}

.slides li:not(:last-child) {
  float: left;
  margin-right: 100px;
}

.slides li {
  float: left;
} */

.controller span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.prev {
  left: 10px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
  transform: translateX(-10px);
}

.next {
  right: 10px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
  transform: translateX(10px);
}

.banner-title {
  font-size: 210px;
  font-family: 'Sacramento', cursive;
  color: var(--light-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* https://stackoverflow.com/questions/46184458/transform-translate-50-50 */
}

.banner-icons {
  font-size: 30px;
  text-align: center;
  color: var(--light-text-color);
}

.banner-title-text {
  margin-bottom: 50px;
}

.portfolio-top,
.book-top {
  margin-top: 100px;
  padding: 8px 16px;
}

.article-top-title {
  text-align: center;
  padding-right: 16px;
  font-size: 36px;
}

.portfolio-contents-name:hover,
.book-contents-title:hover {
  text-decoration: underline;
}

.article-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.article-top-write {
  color: var(--text-color);
  cursor: pointer;
  font-size: 36px;
  height: fit-content;
  justify-content: center;
  border: none;
  background-color: var(--background-color);
}

.article-top-write:hover {
  text-decoration: underline;
}

.diary-main,
.diary-result-top {
  display: flex;
}

.diary-result-title,
.diary-result-contents {
  padding-left: 16px;
}
.diary-delete-button {
  margin-right: 16px;
}

.diary-main-title,
.diary-main-timestamp {
  font-size: 24px;
  padding-left: 16px;
}
.diary-result-title:hover {
  text-decoration: underline;
}
.diary-result-title,
.diary-result-timestamp {
  font-size: 18px;
  font-weight: bold;
}
.diary-main-title,
.diary-result-title {
  flex: 5;
  padding-bottom: 8px;
}

.diary-main-timestamp,
.diary-result-timestamp {
  flex: 1;
  padding-bottom: 8px;
}

.diary-result-timestamp {
  padding-left: 250px;
}

.diary-result-contents {
  padding-bottom: 8px;
  background-color: var(--light-text-color);
}

.aside-form-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  border: 3px solid var(--accent-color);
  background-color: var(--background-color);
  padding: 10px;
}

.form-popup {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  max-width: 800px;
}

.diary-delete-button,
.form-cancel-button,
#diary-delete-confirm {
  background-color: var(--accent-color);
}

.filebox input[type='file'] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-write-button,
#diary-delete-cancel {
  background-color: var(--light-text-color);
}

.form-text {
  font-weight: bold;
  padding-bottom: 8px;
}

.portfolio-contents,
.book-contents {
  margin: 24px 24px;
}

.box {
  margin-top: 8px;
}

.filetype {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *margin-right: 4px;
}

.filetype * {
  vertical-align: middle;
}

.filetype .file-text {
  position: relative;
  width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  background-color: var(--background-color);
  margin: 0;
  border: 1px solid var(--text-color);
  line-height: 20px;
  z-index: 10;
}

.filetype .file-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  overflow: hidden;
}

.filetype .file-select .input-file {
  width: 60px;
  filter: alpha(opacity=0);
  opacity: 0;
  height: 20px;
}

.filetype .file-text + .file-btn {
  display: inline-block;
  border: 1px solid var(--text-color);
  background-color: var(--light-text-color);
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  cursor: pointer;
  *margin-left: 4px;
}

#book-file-upload {
  margin-bottom: 8px;
}
