:root {
  --background-color: #ffffff;
  --accent-color: #ffe8df;
  --light-text-color: #f0f0f0;
  --text-color: #888888;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a.banner-icons-links {
  color: var(--light-text-color);
  margin-left: 12px;
}

a.diary-top-write:hover {
  text-decoration: underline;
}

.navbar-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 16px;
  padding: 2px;
}

.navbar-text {
  margin-left: 16px;
}

.main-banner {
  position: relative;
  height: 100vh;
  padding-bottom: 16px;
}

.banner-title {
  font-size: 210px;
  font-family: 'Sacramento', cursive;
  color: var(--light-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* https://stackoverflow.com/questions/46184458/transform-translate-50-50 */
}

.banner-icons {
  font-size: 30px;
  text-align: center;
  color: var(--light-text-color);
}

.banner-title-text {
  margin-bottom: 50px;
}

.diary-top-title a i {
  font-size: 30px;
}

.diary-top {
  display: flex;
  align-items: center;
}

.diary-top-title {
  padding: 8px 16px;
}

.diary-top-write {
  color: var(--text-color);
  cursor: pointer;
  font-size: 24px;
  height: fit-content;
  justify-content: center;
  margin-left: 8px;
}

.diary-main {
  display: flex;
}
